body{
	background-color: #F9F9F5;
	height: 100vh;
}

	/*Nav bar styling*/
/*******************************************/
		
	.navbar{ /*Navbar parent div*/
		font-family: 'Josefin Slab', serif;
		font-weight: 400;
		font-size: 18px;
	}

		
	#navbarContainer{ /*child of navbar and container for navbar elements*/
		/*no styling*/
	}

		
	.navbar-header{ /*child of navbarContainer, contains ul and li*/
		position: relative;
	}
		
	#navList{ /*child of navbar-header, ul element*/
		width: 100%;
		text-align: center;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		bottom: 0;
	}

		
	.nav > li { /*targets all li elements of ul/#navList*/
		box-sizing: border-box;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		width: 20%;
	}

	

	#contactPage{ /*targets li blog page to highlight current page*/
		color: #98D1CF;
	}

		

	.navbar .navbar-nav > li > a:hover{ /*targets and overrides boostrap styling for hover effects on list items*/
		color: #dad2d8;
	}
/*******************************************/


	/*Body styling*/

	#tagline{
		margin-top: 4%;
		margin-left: 2%;
		width: 35%;
		border-bottom: 1px solid black;
		font-family: 'Josefin Slab', serif;
		font-style: italic;
		font-weight: 300;
	}

	#contactInfo{
		margin-top: 4%;
		width: 65%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 18px;
	}

	.highlight{
		color: #98D1CF;
	}

	.highlight:hover{
		color: #98D1CF;
		text-decoration: underline; 
	}

@media screen and (min-width: 768px){

	/*navbar styling*/
/*******************************************/
	
	.navbar{ /*Navbar parent div*/
		width: 100%;
		margin-bottom: 0;
	}

		
	#navbarContainer{ /*child of navbar and container for navbar elements*/		
		width: 100%;
	}

		
	.navbar-header{ /*child of navbarContainer, contains ul and li*/
		width: 100%;
	}
		
	#navList{ /*child of navbar-header, ul element*/
		width: 100%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

		
	.nav > li { /*targets all li elements of ul/#navList*/
		width: 25%;
	}

		
	#blogPage{ /*targets li blog page to highlight current page*/

	}

		

	.navbar .navbar-nav > li > a:hover{ /*targets and overrides boostrap styling for hover effects on list items*/
	
	}
/*******************************************/


}