body{
	background-color: #F9F9F5;
	height: 100vh;
}

	/*Nav bar styling*/
/*******************************************/
		
	.navbar{ /*Navbar parent div*/
		font-family: 'Josefin Slab', serif;
		font-weight: 400;
		font-size: 18px;
	}

		
	#navbarContainer{ /*child of navbar and container for navbar elements*/
		/*no styling*/
	}

		
	.navbar-header{ /*child of navbarContainer, contains ul and li*/
		position: relative;
	}
		
	#navList{ /*child of navbar-header, ul element*/
		width: 100%;
		text-align: center;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		bottom: 0;
	}

		
	.nav > li { /*targets all li elements of ul/#navList*/
		box-sizing: border-box;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		width: 20%;
	}

		
	#homePage{
		color: #FFC0ED;
	}

	#projectsPage{ /*targets li blog page to highlight current page*/
		color: #8093f1;
	}

		

	.navbar .navbar-nav > li > a:hover{ /*targets and overrides boostrap styling for hover effects on list items*/
		color: #FFC0ED;
	}
/*******************************************/


@media screen and (min-width: 768px){

	/*navbar styling*/
/*******************************************/
	
	.navbar{ /*Navbar parent div*/
		width: 100%;
		margin-bottom: 0;
	}

		
	#navbarContainer{ /*child of navbar and container for navbar elements*/		
		width: 100%;
	}

		
	.navbar-header{ /*child of navbarContainer, contains ul and li*/
		width: 100%;
	}
		
	#navList{ /*child of navbar-header, ul element*/
		width: 100%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

		
	.nav > li { /*targets all li elements of ul/#navList*/
		width: 25%;
	}

		
	#blogPage{ /*targets li blog page to highlight current page*/

	}

		

	.navbar .navbar-nav > li > a:hover{ /*targets and overrides boostrap styling for hover effects on list items*/
	
	}
/*******************************************/


}