body{
	background-color: #F9F9F5;
	height: 100vh;
}


	#heroHeader{
		height: 60vh;
		background: lightgrey;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center; 
	}

	#centeredRow{
		max-width: 75%;
	}

	#heroFill{
		font-size: 48px;
		border: 10px solid black;
		padding: 15px;
		width: auto;
	}


	/*Nav bar styling*/
/*******************************************/
		
	.navbar{ /*Navbar parent div*/
		font-family: 'Josefin Slab', serif;
		font-weight: 400;
		font-size: 18px;
	}

	.navbar > #navbarContainer{
/*		background-color: #a7c6da;
*/	}

		
	#navbarContainer{ /*child of navbar and container for navbar elements*/
		/*no styling*/
	}

		
	.navbar-header{ /*child of navbarContainer, contains ul and li*/
		position: relative;
	}
		
	#navList{ /*child of navbar-header, ul element*/
		width: 100%;
		text-align: center;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		bottom: 0;
	}

		
	.nav > li { /*targets all li elements of ul/#navList*/
		box-sizing: border-box;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		width: 20%;
	}

		
	#homePage{ /*targets li blog page to highlight current page*/
		color: #f97a80;
	}

		

	.navbar .navbar-nav > li > a:hover{ /*targets and overrides boostrap styling for hover effects on list items*/
		color: #dad2d8;
	}
/*******************************************/


/*summary*/
/*******************************************/
	#summary{
		margin-top: 4%;
		width: 65%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 18px;
	}

	#tagline{
		margin-top: 4%;
		margin-left: 2%;
		width: 85%;
		border-bottom: 1px solid black;
		font-family: 'Josefin Slab', serif;
		font-style: italic;
		font-weight: 300;
	}

	.highlight{
		color: #f97a80;
	}


	#image{
		margin-top: 8%;
		border: 1px solid black;
		border-radius: 100%;
		height: 300px;
	}
/*******************************************/

	#projectsTitleDiv{
		margin-top: 5%;
		text-align: center;
		border: 1px solid black;
		padding: 2%;
	}

	.project{
		height: 30vh;
		border: 1px solid black;
		text-align: center;
	}


/*******************************************/

	#contactSection{
		border: 1px solid black;
	}

	#contactTitle{
		text-align: center;
	}

	#contactInfo{
		position: relative;
		width: 45%;
		margin-left: auto;
		margin-right: auto;
	}

	#socialIconsSection{
		width: 45%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	#socialIcons{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15%;
		margin-top: 15%;
	}

	#socialIcons > div{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#socialIcons > div > a > img {
		height: 36px;
		width: auto;
	}


@media screen and (min-width: 768px){

	/*navbar styling*/
/*******************************************/
	
	.navbar{ /*Navbar parent div*/
		width: 100%;
		margin-bottom: 0;
	}

		
	#navbarContainer{ /*child of navbar and container for navbar elements*/		
		width: 100%;
	}

		
	.navbar-header{ /*child of navbarContainer, contains ul and li*/
		width: 100%;
	}
		
	#navList{ /*child of navbar-header, ul element*/
		width: 100%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

		
	.nav > li { /*targets all li elements of ul/#navList*/
		width: 25%;
	}

		
	#tagline{ 
		width: 45%;
	}

		

	.navbar .navbar-nav > li > a:hover{ /*targets and overrides boostrap styling for hover effects on list items*/
	
	}
/*******************************************/
}