.onePost {
	margin-top: 5%;
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
}

.postTitle{
	font-size: 25px;
	width: 100%;
	font-family: 'Josefin Slab', serif;
	font-style: italic;
	font-weight: 300;
}

.infoRow {
	text-align: right;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.postContent{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-top: 10%;
}

hr{
	background-color: #FFC0ED;
	border-color: #FFC0ED;
	width: 65%;
}


/*Nav bar styling*/
/*******************************************/
		
	.navbar{ /*Navbar parent div*/
		font-family: 'Josefin Slab', serif;
		font-weight: 400;
	}

		
	#navbarContainer{ /*child of navbar and container for navbar elements*/
		/*no styling*/
	}

		
	.navbar-header{ /*child of navbarContainer, contains ul and li*/
		position: relative;
	}
		
	#navList{ /*child of navbar-header, ul element*/
		width: 100%;
		text-align: center;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		bottom: 0;
	}

		
	.nav > li { /*targets all li elements of ul/#navList*/
		box-sizing: border-box;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		width: 20%;
	}

		
	#blogPage, #homePage{ /*targets li blog page to highlight current page*/
		color: #FFC0ED;
	}

		

	.navbar .navbar-nav > li > a:hover{ /*targets and overrides boostrap styling for hover effects on list items*/
		color: #FFC0ED;
	}
/*******************************************/


@media screen and (min-width: 768px){
	
	.navbar{ /*Navbar parent div*/
		width: 100%;
	}

		
	#navbarContainer{ /*child of navbar and container for navbar elements*/		
		width: 100%;
	}

		
	.navbar-header{ /*child of navbarContainer, contains ul and li*/
		width: 100%;
	}
		
	#navList{ /*child of navbar-header, ul element*/
		width: 100%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

		
	.nav > li { /*targets all li elements of ul/#navList*/
		width: 25%;
	}

		
	#blogPage{ /*targets li blog page to highlight current page*/

	}

		

	.navbar .navbar-nav > li > a:hover{ /*targets and overrides boostrap styling for hover effects on list items*/
	
	}
}